
* {
    box-sizing: border-box;
}
.co {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.box {
    position: relative;
    padding: 15px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(8, 1fr);

    grid-template-areas:
        "one one one one one one one one . sex sex . . . . ."
        "two two . . . . . . . sex sex . . . . ."
        "two two . . . . . . . sex sex . . . . ."
        " three three three three three three three three . seven seven . . . . ."
        "four four . . . . . . . seven seven . . . . ."
        "four four . . . . . . . seven seven . . . . ."
        "five five five five five five five five . eight eight eight eight eight eight eight";
}
.box::before,
.box::after {
    content: "";
    width: 35.5px;
    height: 35.5px;
    position: absolute;
    background-color: #fea604;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-fill-mode: forwards;
}
.box::before {
    animation-duration: 4s;
    left: 40.5%;
    top: 5.2%;
    animation-name: EE;

    animation-delay: 5s;
}
.box::after {
    animation-duration: 3s;
    right: 5.2%;
    top: 75.7%;
    visibility: hidden;
    animation-name: LL;
    animation-delay: 1s;
}
@keyframes EE {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-495%, 0);
    }
    20% {
        transform: translate(-495%, 495%);
    }
    30% {
        transform: translate(0, 495%);
    }
    40% {
        transform: translate(-495%, 495%);
    }
    50% {
        transform: translate(-495%, 990%);
    }
    60% {
        transform: translate(0, 990%);
    }
    70% {
        transform: translate(-495%, 990%);
    }
    80% {
        transform: translate(-495%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes LL {
    25% {
        visibility: visible;
    }
    35% {
        transform: translate(-415%, 0%);
    }
    55% {
        transform: translate(-415%, -1000%);
    }
    60% {
        transform: translate(-415%, -1000%);
        opacity: 100%;
    }
    100% {
        transform: translate(-415%, -1000%);
        opacity: 0;
    }
}
.box div {
    background-color: #323234;
    outline: 1px solid #323234;
    border: 1px solid #323234;
}
.one {
    grid-area: one;
}
.two {
    grid-area: two;
}
.three {
    grid-area: three;
}
.four {
    grid-area: four;
}
.five {
    grid-area: five;
}
.sex {
    grid-area: sex;
}
.seven {
    grid-area: seven;
}
.eight {
    grid-area: eight;
}
